<footer>
   
    <center>
        <body class="container">
            <div class="bg-info">
            <img src="./img/MAKA.png" class="rounded float-start" alt="...">
            
            <div class="d-flex p-2"><h2>@compañia de Luz @Derechos Reservados 2023.</h2>
            <img src="./img/MAKA.png" class="rounded float-end" alt="...">
            </div>
        </div>
        </center>
</footer>