<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta boletos</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<header>Viajes el destino feliz </header>
<body>
    <form action="/boletos" method="post">
    <label for="">Numero de boleto</label><br>
    <input type="number" required="true" name="NumBoleto" id="NumBoleto">
    <br>
    <label for="">Destino</label><br>
    <input type="text" required="true" id="Destino">
    <br>
    <label for="">Nombre del cliente</label><br>
    <input type="text" required="true" id="NombreCliente">
    <br>
    <label for="">Años cumplidos</label><br>
    <input type="number" required="true" name="edad" id="edad">
    <br>
    <label for="">Seleccionar tipo</label><br>
    <select name="tipo" id="tipo">
        <option value="1">sensillo</option>
        <option value="2">doble</option>
        </select>
    <label for="">Precio</label>
    <input type="number" required="true" name="Precio" id="Precio">
    <hr>
    <button type="submit">Calcular</button>
    <button onclick="limpiar()">Limpiar</button>
    
</form>
<script>
function limpiar() {
    location.reload(); // recarga la página
}
</script>


<% let Impuesto = 0;
let Descuento = 0;
let TotalPagar=0;
let Sub =0;
let Preciof=0;
if(Precio!=null){
    
    if(tipo==2){ 
        Preciof = parseInt(Precio) * 1.80; 
    }else{ 
       Preciof = parseInt(Precio); 
   }
 Impuesto = Preciof * .16; 
 Pref = Impuesto + Preciof;
 
 if(edad>=65){ 
   Descuento = Pref * .5;
  }else{ 
     Descuento = 0; 
 }

  
 Sub = Preciof;
}%>



<%TotalPagar = Sub + Impuesto - Descuento; %>

<hr>
<h3>Importe</h3>
    <br>
    <center></center>
    <table class ="table table-dark table-striped">
        <thead>
            <th>Sub Total</th>
            <th>Descuento:</th>
            <th>Impuesto:</th>
            <th>Total a pagar:</th>
        </thead>
        <tr>
            <td><%=Sub%></td>
            <td><%=Descuento%></td>
            <td><%=Impuesto%></td>
            <td><%=TotalPagar%></td>
            
        </tr>
    </table>
</body>
<%-include('partials/piePagina.html');%>

</html>