<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electricidad</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<%-include('partials/encabezado.html');%>
<body>
    <div class="bg-warning">
        <div class="container">
    <form action="/Luzn" method="post">
    <label for="">Numero de recibo</label><br>
    <input type="number" required="true" name="NumRecibo" id="NumRecibo">
    <br>
    <label for="">Nombre</label><br>
    <input type="text" required="true" name="Nombre" id="Nombre">
    <br>
    <label for="">Domicilio</label><br>
    <input type="text" required="true" name="Domicilio" id="Domicilio">
    <br>
    <label for="">Tipo de Servicio </label><br>
    <select name="tipo" id="tipo">
        <option value="1">Domestico</option>
        <option value="2">Comercial</option>
        <option value="3">Industrial</option>
        </select>
    <br>
    <label for="">Kilowatts Consumidos</label>
    <input type="number" required="true" name="Consumo" id="Consumo">
    <hr>
    <button type="submit">Calcular</button>
    <button type="reset">Limpiar</button>
    
</form>
</div>
<script>
function limpiar() {
    location.reload(); // recarga la página
}
</script>






</div>
</body>
<%-include('partials/piePagina.html');%>

</html>