<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electricidad</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<%-include('partials/encabezado.html');%>
<body>

  <% let Impuesto = 0;
  let Descuento = 0;
  let TotalPagar=0;
  let Sub =0;
  let kilo = parseInt(Consumo);
  let Preciof=0;
  
  if(Consumo!=null)
      
      if(tipo==2){ 
          Preciof=2.5;
      }else if(tipo==3){ 
           Preciof=3; 
     }else{
       Preciof=1.08; 
     }
     Sub = Preciof * kilo
     Impuesto = Sub * .16; 
     
     if(kilo>10000){
      Descuento = Sub *.50;
     }else if(kilo>1000){
      Descuento = Sub *.20;
     }else {
      Descuento = Sub *.10;
     }
  
     TotalPagar = Sub - Descuento + Impuesto;
  
     
   
  %>
  


<hr>
<center>
<div class="container">
    <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo de servicio</th>
            <th scope="col">Kilowats</th>
            <th scope="col">Costo Kilowats</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" ><%=Nombre%></th>
            <td><%=tipo%></td>
            <td><%=Consumo%></td>
            <td><%=Preciof%></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td>Subtotal:</td>
            <td><%=Sub%></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td>Impuesto:</td>
            <td><%=Impuesto%></td>
          </tr>
    
          <tr>
            <th scope="row"></th>
            <td></td>
            <td>Descuento: </td>
            <td><%=Descuento%></td>
          </tr>
    
          <tr>
            <th scope="row"></th>
            <td></td>
            <td>Total a pagar: </td>
            <td><%=TotalPagar%></td>
          </tr>
          
        </tbody>
      </table>
 </div>
</body>
<%-include('partials/piePagina.html');%>

</html>