<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>
<body>
    <div class="container">
        <h1>Tabla de multiplicar</h1>
        <form action="/tablas" method="post">
            Numero Tabla : <input type="number" id="tabla" name="tabla" required="true" value="<%=tabla%>">
            <button type="submit">Enviar</button>
        </form>
        <% 
        if(tabla!=null){
            let res=0;
            for(con=1;con<=10;++con){
                res = con*tabla;
                %>
                <h3><%=tabla%> * <%=con%> = <%=res%></h3>
                <%
            }
        }
        %>
    </div>
    <%-include('partials/piePagina.html');%>
</body>
</html>